{% load static%}
<div class="container">
    <div class="row">
      <div class="col">
        <section id="genre">
          {% include 'Genre.html' %}
        </section>
      </div>
      <div class="col">
        <section id="status">
          {% include 'Status.html' %}
        </section>
      </div>
      <div class="col">
        <section id="type">
          {% include 'Type.html' %}
        </section>
      </div>
      <div class="col">
        <section id="sort by">
          {% include 'Sort By.html' %}
        </section>
      </div>
      <div class="col">
        <div class="col">
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M11.5 7a4.499 4.499 0 11-8.998 0A4.499 4.499 0 0111.5 7zm-.82 4.74a6 6 0 111.06-1.06l3.04 3.04a.75.75 0 11-1.06 1.06l-3.04-3.04z"></path></svg></button>
          </form>
        </div>
      </div>
    </div>
  </div>