{% load static%}
<div class="container">
    <div class="row">
      <div class="col">
        <img src="{% static 'IMG/Martial Peak.jpg'%}"width="200" height="266"/>
        <p class="fw-light">Martial Peak</p>
      </div>
      <div class="col">
        <img src="{% static 'IMG/Solo Max-Level Newbie.jpg'%}"width="200" height="266"/>
        <p class="fw-light">Solo Max-Level Newbie </p>
      </div>
      <div class="col">
        <img src="{% static 'IMG/Tsuihou Sareta Tenshou Juu Kishi wa Game Chishiki de Musou Suru.jpg'%}"width="200" height="266"/>
        <p class="fw-light">Tsuihou Sareta Tenshou Juu Kishi wa Game Chishiki de Musou Suru</p>
      </div>
      <div class="col">
        <img src="{% static 'IMG/The Game That I Came.jpg'%}"width="200" height="266"/>
        <p class="fw-light">The Game That I Came</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="{% static 'IMG/Hyper Luck.jpg'%}"width="200" height="266"/>
        <p class="fw-light">Hyper Luck</p>
      </div>
      <div class="col">
        <img src="{%static 'IMG/Kage no Jitsuryokusha ni Naritakute.jpg'%}"width="200" height="266"/>
        <p class="fw-light">Kage no Jitsuryokusha ni Naritakute </p>
      </div>
      <div class="col">
        <img src="{% static 'IMG/Reincarnation of the Suicidal Battle God.jpg'%}"width="200" height="266"/>
        <p class="fw-light">Reincarnation of the Suicidal Battle God</p>
      </div>
      <div class="col">
        <img src="{% static 'IMG/Worlds.jpg'%}"width="200" height="266"/>
        <p class="fw-light">World’s Apocalypse Online</p>
      </div>
    </div>

  </div>