<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary ">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">ReadKom</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
              <li class="nav-item">
                <a class="nav-link" href="Daftar">Daftar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Populer">Populer</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Project">Project</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Bookmark">Bookmark</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="tabelkomik">Tabel1</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="daftarkomik">Tabel2</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Contactus">Contact us</a>
              </li>
            </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M11.5 7a4.499 4.499 0 11-8.998 0A4.499 4.499 0 0111.5 7zm-.82 4.74a6 6 0 111.06-1.06l3.04 3.04a.75.75 0 11-1.06 1.06l-3.04-3.04z"></path></svg></button>
          </form>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="Signin"><i class="bi bi-person-circle"></i> Sign in</a>  
            </li>
          </ul>             
        </div>
      </div>
    </nav>
  </header>